<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Sign Up Form</title>
    <link rel="stylesheet" href="css/edit.css">
  </head>
  
  <body>

    <form class="signup" action="/editprofile" method="post">
      <h2>Edit</h2>
      <input type="text" name = "name" placeholder= <%= data.name %>  >
      <input type="email" name = "email" placeholder=<%= data.email %> >
      
      <div class="btn">
        <button type="submit"  name = "btn" value=<%= data.id %>>Save Changes</button>
        
        <a href="/profile" class ="btncansel">Cancel</a>
      </div>
    </form>
  </body>
</html>
